body{

background-color: aquamarine;
}
h1{
    color: blue;
    font-size: large;
    font-style: italic ;
}
p{
    color: blueviolet;
    font-size: medium;
    font-style: oblique;

}
div{
    background-color: black;
    color: rgb(3, 245, 63);

}