.hero {
  height: 500px;
  background: url("/images/hero.svg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.feature-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}
